# Dependencies
node_modules

# Build output
dist/
out-tsc/

# Angular cache
.angular/

# Environment files
.env
.env.local
.env.production

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Temp files
cr.json
cr2.json
cr3.json
*.log
nul
npm-debug.log*
