@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.button {
  @include button-base;
  gap: $spacing-sm;

  &__icon {
    font-size: 18px;
    line-height: 1;
  }

  &__content {
    display: inline-flex;
    align-items: center;
  }

  // Variants
  &--primary {
    background-color: var(--primary-color, $primary-color);
    color: $text-white;

    &:hover:not(:disabled) {
      background-color: var(--primary-hover, $primary-dark);
    }
  }

  &--secondary {
    background-color: $secondary-color;
    color: $text-white;

    &:hover:not(:disabled) {
      background-color: $secondary-dark;
    }
  }

  &--success {
    background-color: $success-color;
    color: $text-white;

    &:hover:not(:disabled) {
      background-color: darken($success-color, 10%);
    }
  }

  &--danger {
    background-color: $danger-color;
    color: $text-white;

    &:hover:not(:disabled) {
      background-color: darken($danger-color, 10%);
    }
  }

  &--warning {
    background-color: $warning-color;
    color: $text-white;

    &:hover:not(:disabled) {
      background-color: darken($warning-color, 10%);
    }
  }

  &--info {
    background-color: $info-color;
    color: $text-white;

    &:hover:not(:disabled) {
      background-color: darken($info-color, 10%);
    }
  }

  &--outline {
    background-color: transparent;
    color: var(--primary-color, $primary-color);
    border: 1px solid var(--primary-color, $primary-color);

    &:hover:not(:disabled) {
      background-color: var(--primary-color, $primary-color);
      color: $text-white;
    }
  }

  // Sizes
  &--sm {
    padding: $spacing-xs $spacing-sm;
    font-size: $font-size-sm;
  }

  &--md {
    padding: $spacing-sm $spacing-md;
    font-size: $font-size-base;
  }

  &--lg {
    padding: $spacing-md $spacing-lg;
    font-size: $font-size-lg;
  }

  // Modifiers
  &--full-width {
    width: 100%;
  }

  &--disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
